<html>
<head>
    <title></title>
</head>
<body>
	<div>
		<a href="/etudiants">Liste des etudiants</a>
	</div>
    <form method="POST" action="/etudiants">
        <input type="text" name="nom" placeholder="Nom">
        <input type="text" name="prenom" placeholder="Prenom">
        <input type="text" name="adresse" placeholder="Adresse">
        <input type="tel" name="telephone" placeholder="Telephone">
        <input type="email" name="emai" placeholder="Emai">
        <button type="submit">Valider</button>
    </form>
</body>
</html>